@page "/"

<!-- 3D Slideshow Section --> 
<!--<section id="slideshow">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imdb-api.com/posters/original/lr3cYNDlJcpT1EWzFH42aSIvkab.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/xeItgLK9qcafxbd8kYgv7XnMEog.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/hMYoG5ORvBaHqd7mhkcqOR5XlDi.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/eD6YqpIkZDnZ5XoxUl4viHjq5WO.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/dGv2BWjzwAz6LB8a8JeRIZL8hSz.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/1UkbPQspPbq1FPbFP4VV1ELCfSN.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/cGLL4SY6jFjjUZkz2eFxgtCtGgK.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg"/ class="d-block w-100">
          </div>
          <div class="carousel-item">  
            <img src="https://imdb-api.com/posters/original/eqWaeh21e4ZgHjwpULZVHCGIq9X.jpg"/ class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<!--</section>


@code{
 
    

}  

