<div>
    <label class="form-label">@Label</label>
    <div>
        <InputFile OnChange="OnChange" accept=".jpg,.png,.jpeg"></InputFile>
        @* Si quisieramos permitir el cargue de varias imagenes
        <InputFile multiple OnChange="OnChange" accept=".jpg,.png,.jpeg"></InputFile>
         *@
    </div>
    <div>
        @if (imageT !=  null)
        {
            <div>
                <div style="margin:10px">
                    <img src="data:image/jpeg;base64,@imageT" width="300px"alt="">
                </div>
            </div>
        }

        @if (ImageURL !=  null)
        {
            <div>
                <div style="margin:10px">
                    <img src="@ImageURL" width="300px"alt="">
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string ImageURL { get; set; }
    [Parameter] public EventCallback<string> ImageSelected { get; set; }


    private string imageT;
    async Task OnChange(InputFileChangeEventArgs e)
    {
        var images = e.GetMultipleFiles();
        foreach (var image in images)
        {
            var tamaño = new byte[image.Size];
            await image.OpenReadStream().ReadAsync(tamaño);
            imageT =Convert.ToBase64String(tamaño);
            ImageURL = null;
            await ImageSelected.InvokeAsync(imageT);
            StateHasChanged();
        }
    }
}